html,
body {
    height: 100%;
}

body {
    text-align: center;
    background-image: url("assests/World Cup Background.jpg");
    color: white;
}

#wrapper {
    width: 960px;
    height: 95%;
    box-sizing: border-box;
    margin: 2.5% auto;
    background-color: transparent;
}

#sub-wrapper {
    position: relative;
    top: 15%;
}

button {
    display: block;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    font-size: 42pt;
    cursor: pointer;
    background: transparent;
    border: 0;
}

img {
    height: 200px;
}

h1 {
    padding-top: 2.5%;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 6.5em;
    font-weight: bold;
    color: white;
}

h2 {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}

h3 {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}

#start {
    margin-top: 10%;
    background: red;
    border: 2px solid blue;
}

button:hover {
    background: red;
    border: 2px solid blue; 
    color: white;
}
